@import url('https://unpkg.com/bootstrap@5.0/dist/css/bootstrap.min.css');
input:checked+label {
    color: rgb(155, 40, 190);
    font-weight: bold;
}

.button {
    transition-duration: 0.4s;
    margin: 20px;
}

form {
    margin: 10px;
}

.player-name {
    margin-bottom: 10px;
}